LIBRERIAS NECESARIAS

In [10]:
import pandas as pd
import matplotlib as mt
import seaborn as sb
from datetime import datetime
from sqlalchemy import create_engine, Column, Integer, String, Float, Date
from sqlalchemy.orm import declarative_base, sessionmaker

In [11]:
csv = ("data\candidates.csv")
df = pd.read_csv(csv, delimiter=';')
print(df.head)

<bound method NDFrame.head of        First Name   Last Name                       Email Application Date  \
0      Bernadette   Langworth         leonard91@yahoo.com       2021-02-26
1          Camryn    Reynolds         zelda56@hotmail.com       2021-09-09
2           Larue      Spinka    okey_schultz41@gmail.com       2020-04-14
3            Arch      Spinka      elvera_kulas@yahoo.com       2020-10-01
4           Larue  Altenwerth   minnie.gislason@gmail.com       2020-05-20
...           ...         ...                         ...              ...
49995     Bethany     Shields  rocky_mitchell@hotmail.com       2022-01-09
49996         Era  Swaniawski    dolores.roob@hotmail.com       2020-06-02
49997      Martin       Lakin   savanah.stracke@gmail.com       2018-12-15
49998       Aliya   Abernathy  vivienne.fritsch@yahoo.com       2020-05-30
49999     Coleman      Wisozk   abigayle.crooks@yahoo.com       2022-06-13

                  Country  YOE  Seniority                         Technology  \
0                  Norway    2     Intern                      Data Engineer
1                  Panama   10     Intern                      Data Engineer
2                 Belarus    4  Mid-Level                     Client Success
3                 Eritrea   25    Trainee                          QA Manual
4                 Myanmar   13  Mid-Level  Social Media Community Management
...                   ...  ...        ...                                ...
49995  Dominican Republic   27    Trainee                           Security
49996             Morocco   21       Lead                   Game Development
49997              Uganda   20    Trainee              System Administration
49998      Czech Republic   20     Senior            Database Administration
49999               Palau   15     Intern                           Mulesoft

       Code Challenge Score  Technical Interview Score
0                         3                          3
1                         2                         10
2                        10                          9
3                         7                          1
4                         9                          7
...                     ...                        ...
49995                     2                          1
49996                     1                          2
49997                     6                          1
49998                     0                          0
49999                     3                          1

[50000 rows x 10 columns]>

In [ ]:
# CREDENCIALES DE CONEXION CON LA DB


engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Definir la base declarativa correctamente
Base = declarative_base()

# Definir la tabla en SQLAlchemy
class Candidate(Base):
    __tablename__ = "candidates"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    first_name = Column(String(100))
    last_name = Column(String(100))
    email = Column(String(150))
    country = Column(String(50))
    application_date = Column(Date)
    yoe = Column(Float)
    seniority = Column(String(50))
    technology = Column(String(50))
    code_challenge_score = Column(Float)
    technical_interview_score = Column(Float)

# Crear la tabla en MySQL
Base.metadata.create_all(engine)

print("CONEXION EXITOSA")

In [13]:
# Crear una sesión
Session = sessionmaker(bind=engine)
session = Session()

# Convertir la columna de fecha a tipo datetime
df["Application Date"] = pd.to_datetime(df["Application Date"])

for _, row in df.iterrows():
    candidate = Candidate(
        first_name=row["First Name"],
        last_name=row["Last Name"],
        email=row["Email"],
        country=row["Country"],
        application_date=row["Application Date"],
        yoe=row["YOE"],
        seniority=row["Seniority"],
        technology=row["Technology"],
        code_challenge_score=row["Code Challenge Score"],
        technical_interview_score=row["Technical Interview Score"],
    )
    session.add(candidate)

# Confirmar cambios
session.commit()
session.close()
print("Migración completada")

Migración completada