In [9]:
import pandas as pd
import numpy as np
from datetime import datetime

In [10]:
csv = ("../data/candidates.csv")
df = pd.read_csv(csv, delimiter=';')
print(df.describe)

<bound method NDFrame.describe of        First Name   Last Name                       Email Application Date  \
0      Bernadette   Langworth         leonard91@yahoo.com       2021-02-26
1          Camryn    Reynolds         zelda56@hotmail.com       2021-09-09
2           Larue      Spinka    okey_schultz41@gmail.com       2020-04-14
3            Arch      Spinka      elvera_kulas@yahoo.com       2020-10-01
4           Larue  Altenwerth   minnie.gislason@gmail.com       2020-05-20
...           ...         ...                         ...              ...
49995     Bethany     Shields  rocky_mitchell@hotmail.com       2022-01-09
49996         Era  Swaniawski    dolores.roob@hotmail.com       2020-06-02
49997      Martin       Lakin   savanah.stracke@gmail.com       2018-12-15
49998       Aliya   Abernathy  vivienne.fritsch@yahoo.com       2020-05-30
49999     Coleman      Wisozk   abigayle.crooks@yahoo.com       2022-06-13

                  Country  YOE  Seniority                         Technology  \
0                  Norway    2     Intern                      Data Engineer
1                  Panama   10     Intern                      Data Engineer
2                 Belarus    4  Mid-Level                     Client Success
3                 Eritrea   25    Trainee                          QA Manual
4                 Myanmar   13  Mid-Level  Social Media Community Management
...                   ...  ...        ...                                ...
49995  Dominican Republic   27    Trainee                           Security
49996             Morocco   21       Lead                   Game Development
49997              Uganda   20    Trainee              System Administration
49998      Czech Republic   20     Senior            Database Administration
49999               Palau   15     Intern                           Mulesoft

       Code Challenge Score  Technical Interview Score
0                         3                          3
1                         2                         10
2                        10                          9
3                         7                          1
4                         9                          7
...                     ...                        ...
49995                     2                          1
49996                     1                          2
49997                     6                          1
49998                     0                          0
49999                     3                          1

[50000 rows x 10 columns]>

In [11]:
print(df.columns.tolist())

['First Name', 'Last Name', 'Email', 'Application Date', 'Country', 'YOE', 'Seniority', 'Technology', 'Code Challenge Score', 'Technical Interview Score']

In [12]:
df = df.replace(r'^\s*$', np.nan, regex=True)


df = df.dropna(how="all")

df["Application Date"] = pd.to_datetime(df["Application Date"])

df["approved"] = (df["Code Challenge Score"] > 7) & (df["Technical Interview Score"] > 7)

# Convertir a valores booleanos (True o False)
df["approved"] = df["approved"].astype(bool)

#eliminamos las columnas que no necesitamos
columnas_eliminar = ["First Name", "Last Name", "Email"]
df = df.drop(columns=[col for col in columnas_eliminar if col in df.columns])

print(df.head)

<bound method NDFrame.head of       Application Date             Country  YOE  Seniority  \
0           2021-02-26              Norway    2     Intern
1           2021-09-09              Panama   10     Intern
2           2020-04-14             Belarus    4  Mid-Level
3           2020-10-01             Eritrea   25    Trainee
4           2020-05-20             Myanmar   13  Mid-Level
...                ...                 ...  ...        ...
49995       2022-01-09  Dominican Republic   27    Trainee
49996       2020-06-02             Morocco   21       Lead
49997       2018-12-15              Uganda   20    Trainee
49998       2020-05-30      Czech Republic   20     Senior
49999       2022-06-13               Palau   15     Intern

                              Technology  Code Challenge Score  \
0                          Data Engineer                     3
1                          Data Engineer                     2
2                         Client Success                    10
3                              QA Manual                     7
4      Social Media Community Management                     9
...                                  ...                   ...
49995                           Security                     2
49996                   Game Development                     1
49997              System Administration                     6
49998            Database Administration                     0
49999                           Mulesoft                     3

       Technical Interview Score  approved
0                              3     False
1                             10     False
2                              9      True
3                              1     False
4                              7     False
...                          ...       ...
49995                          1     False
49996                          2     False
49997                          1     False
49998                          0     False
49999                          1     False

[50000 rows x 8 columns]>

In [13]:

df.to_csv("../data/candidates_clean.csv", index=False, na_rep="NULL")