LIBRERIAS NECESARIAS

In [9]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine, Column, Integer, String, Float, Date, Boolean
from sqlalchemy.orm import declarative_base, sessionmaker
from dotenv import load_dotenv
import os

In [10]:
csv = ("../data/candidates_clean.csv")
df = pd.read_csv(csv, delimiter=',')
print(df.head)

<bound method NDFrame.head of       Application Date             Country  YOE  Seniority  \
0           2021-02-26              Norway    2     Intern
1           2021-09-09              Panama   10     Intern
2           2020-04-14             Belarus    4  Mid-Level
3           2020-10-01             Eritrea   25    Trainee
4           2020-05-20             Myanmar   13  Mid-Level
...                ...                 ...  ...        ...
49995       2022-01-09  Dominican Republic   27    Trainee
49996       2020-06-02             Morocco   21       Lead
49997       2018-12-15              Uganda   20    Trainee
49998       2020-05-30      Czech Republic   20     Senior
49999       2022-06-13               Palau   15     Intern

                              Technology  Code Challenge Score  \
0                          Data Engineer                     3
1                          Data Engineer                     2
2                         Client Success                    10
3                              QA Manual                     7
4      Social Media Community Management                     9
...                                  ...                   ...
49995                           Security                     2
49996                   Game Development                     1
49997              System Administration                     6
49998            Database Administration                     0
49999                           Mulesoft                     3

       Technical Interview Score  approved
0                              3     False
1                             10     False
2                              9      True
3                              1     False
4                              7     False
...                          ...       ...
49995                          1     False
49996                          2     False
49997                          1     False
49998                          0     False
49999                          1     False

[50000 rows x 8 columns]>

In [14]:
load_dotenv()

USER = os.getenv("DB_USER")
PASSWORD = os.getenv("DB_PASSWORD")
HOST = os.getenv("DB_HOST")
DATABASE = os.getenv("DB")

engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

Base = declarative_base()

class Candidate(Base):
    __tablename__ = "candidates"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    country = Column(String(50))
    application_date = Column(Date)
    yoe = Column(Float)
    seniority = Column(String(50))
    technology = Column(String(50))
    code_challenge_score = Column(Float)
    technical_interview_score = Column(Float)
    approved = Column(Boolean, default=False)

Base.metadata.create_all(engine)

print("CONEXION EXITOSA")

CONEXION EXITOSA

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

for _, row in df.iterrows():
    candidate = Candidate(
        country=row["Country"],
        application_date=row["Application Date"],
        yoe=row["YOE"],
        seniority=row["Seniority"],
        technology=row["Technology"],
        code_challenge_score=row["Code Challenge Score"],
        technical_interview_score=row["Technical Interview Score"],
        approved=row["approved"]
    )
    session.add(candidate)


session.commit()
session.close()
print("Migración completada")

Migración completada